/*Navbar Start*/
html, body
{
    overflow-x:hidden;
    width:100%;
}

a.logo
{
    font-size:30px;
    text-decoration:none;
    outline:none;
    color:black;
    font-weight:bold;
}
a.logo:hover{
    color:indianred;
}
.home a, .shop a, .blog a, .search , .cart, .user
{
    text-decoration:none;
    outline:none;
    color:black;
    font-size:28px;
}
.home a:hover, .shop a:hover, .blog a:hover, a.search:hover , a.cart:hover, a.user:hover{
    color:indianred;
}
.customtoggler.navbar-toggler
{
    border:2px solid indianred;
}
   
        .customtoggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(205,92,92)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 
@media(max-width:991px)
{
     .search, .cart, .user{
        text-align:center;
        width:100%;
    }
}
/*Navbar Ending*/




/*page-content*/

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: paleturquoise;
}


/*aside*/

aside {
    width: 20%; 
/*    border: 1px solid black;*/
    margin-top: 20px;
    margin-left: 20px;
}

#items:hover{
    box-shadow: 0px 0px 2px 2px gray;
}

#side-heading {
    height: 35px;
    width: 239px;
    color: darkorange;
    background-color: white;
}

.side-card-body {
    display: inline-block;
    margin-top: 8px;
}

h5 a{
    text-decoration: none;
    color: deeppink;
    margin-left: 10px;
}


#search-bar-1{
    height: 25px;
    width: 237px;    
    
   
}
#search-bar-2{
    height: 25px;
    width: 237px;    
    
   
}

#search-bar-3{
    height: 25px;
    width: 237px;    
    
   
}







        /*Content*/


/*Product section*/

#product-section {
    width: 70%;
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
}


/*Footer*/

.footer-top{
    background: khaki;
    color:indianred;
    padding: 50px 0;
    padding-left: 15px;
    
}
.segment-one, .segment-two , .segment-three 
{
    border-right: 1px solid indianred;
    text-align:center;
}

.segment-one h2{
    font-family:'Courier New', Courier, monospace;
    
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
}
/*.segment-two h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255, 255, 0.3);
    line-height: 30px;
}
.segment-two ul li a{
    text-align:center;
    text-decoration: none;
    color:indianred;
}
.segment-three h2{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
  }
/*.segment-three h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color:#fff;
    padding: 10px 12px;
}
.segment-four h2{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
/*.segment-four h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.sub{
    
    display: block;
}

.segment-four form input[type=submit]{
    background:orangered;
    border:none;
    padding: 3px 2px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}

.footer-bottom-text{
    text-align: center;
    background:steelblue;
    line-height: 50px;
    color:white;
    margin-bottom:0;
}
.page-footer
{
    margin-top:10px;
}
/*.page-footer{
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    


}*/



#myUL-1{
    list-style-type: none;
    padding: 0;
    margin: 0; height: 350px;
        overflow-y: scroll;

}

#myUL-1 li {

  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none;
  font-size: 18px; 
  color: black;
  display: block; 
}  
#myUL-2{
    list-style-type: none;
    padding: 0;
    margin: 0; height: 350px;
        overflow-y: scroll;

}

#myUL-2 li {

  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none;
  font-size: 18px; 
  color: black;
  display: block; 
}  
#myUL-3{
    list-style-type: none;
    padding: 0;
    margin: 0; height: 350px;
        overflow-y: scroll;

}

#myUL-3 li {

  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none;
  font-size: 18px; 
  color: black;
  display: block; 
}  
