.heading.display{
	background-image: linear-gradient(to left,#aa076b , #61045f);
	color: coral;
	text-align:center;
	word-spacing: .5em;
	border: red;
	height: 5%;

}

/*.card-img{
	height:30vh; 
	width: 30vh;
	float: center;
	object-fit: cover;
	background-size: cover; 
	box-sizing: border-box;
	border: none;
	padding: none;
	margin: none;
	
}
.column{
	box-sizing: border-box;
	border: 20px;
    
   }

.shopbybrand{
	 background-image: linear-gradient(to left,#aa076b , #61045f);
}

.card{
	box-sizing: border-box;
	border: 1px solid black;
	margin: 2px;
	margin-top: 28px;
     30vh;
width:30vh;
  

}
.card:hover{
	transform: translate3d(0,-1px,0) scale(1.13);
}*/
.card1
{
    position:relative;
height:30vh;
    width:30vh;
    transform-style:preserve-3d;
    background-image: url(./Images/paris.svg);
}
.card1 .face
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:2s ease-in-out;
    backface-visibility:hidden;
    transform:perspective(500px) rotateY(0deg);
}
.card1 .face.front
{
    background-image: url(../images/paris.svg);
}
.card1 .face.back
{
    background : #3bc2ff;
    color:;
    transform:perspective(500px)rotateY(180deg);
}
.card1:hover .face.front
{
    transform:perspective(500px) rotateY(180deg);
}
.card1:hover .face.back
{
    transform:perspective(500px) rotateY(360deg0);
}
