.heading.display{
	background-image: linear-gradient(to left,#aa076b , #61045f);
	color: coral;
	text-align:center;
	word-spacing: .5em;
	border: red;
	height: 5%;

}
#view_More{
	text-align:center;
	word-spacing: .1em;
	background-image: linear-gradient(to left,#aa076b , #61045f);
	width: 100%;
	margin-top: 4px; 
	color: crimson;
    margin-left:100px;
}
.card-img{
	height:30vh; 
	width: 30vh;
	float: center;
	object-fit: cover;
	background-size: cover; 
	box-sizing: border-box;
	border: none;
	padding: none;
	margin: none;
	
}
.column{
	box-sizing: border-box;
	border: 20px;
    
   }

.shopbybrand{
	 background-image: linear-gradient(to left,#aa076b , #61045f);
}

.card{
	box-sizing: border-box;
	border: 1px solid black;
	margin: 2px;
	margin-top: 28px;
     
  

}
.card:hover{
	transform: translate3d(0,-1px,0) scale(1.13);
}
